```astro
<header class="header">
  <div class="header-container">
    <div class="header-row">
      <ul class="header-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
```