---
import Layout from '/home/vicb/github/c4.github.io/src/layouts/BaseLayout.astro';
---

<Layout>
  <div class="left-column">
    <div class=".logo">
      <!-- Add your logo image here -->
      <img src="logo.jpg" alt="C4 Logo" />
    </div>
    <div class="links">
      <a href="/mission">Mission</a>
      <a href="/about">About</a>
      <a href="/participation">Our Participation</a>
    </div>
  </div>
  <div class="content">
   <p class="content"> Community Commodity Computer Coaching </p>
  </div>
</Layout>

