---
const links = [
  { text: "Home", url: "/" },
  { text: "About", url: "/about" },
  { text: "Services", url: "/services" },
  { text: "Contact", url: "/contact" }
];
const spacing = "35px"; // Adjust this value to change the space between links
---

<footer class="footer">
  <div class="footer-container">
    <p class="footer-link">
      Community Commodity Computer Coaching
    </p>
  
  <div class="link-row" style={`--spacing: ${spacing};`}>
    {links.map(link => (
      <a href={link.url} class="footer-link">{link.text}</a>
    ))}
  </div>
</div>
</footer>
