
---
import logo from '../assets/logo.jpg';
---
<nav class="nav-bar">
  <div class="container">
    <div class="logo-container">
      <img src='logo.jpg' alt="logo" class="logo" />
    </div>
    <ul class="ul">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

