```astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
<html>
  <head>
    <title>"C4"</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">
        <Header />
      </div>
      <div class="nav-bar">
        <Navbar />
      </div>
      <div class="main-content">
        <slot />
      </div>
      <div class="footer">
        <Footer />
      </div>
    </div>
  </body>
</html>
```